@font-face {
  font-family: munro; /* The name you'll use to apply this font */
  src: url('fonts/munro.ttf') format('truetype'); /* Path to the .ttf file */
}

body {
  font-family: 'munro';
  color: white ;
  width: fit-content;
  text-align: center;
  margin: auto;
  background-color: black;
  margin-right: auto;
  margin-right: auto;
  }
  
  main {
    margin-bottom: 4rem;
  }
  
  header {
   
  }
  
  h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
    font-family: 'munro';
  }
  
  h2, h3 {
    color: white
  }
 